* {
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 10px 80px 10px;
  text-align: center;
  border: 1px solid black;
}

.card {
  background-color: #ad343e;
  width: 100px;
  height: 120px;
  margin: 5px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 10px;
}

.item1 {
  grid-area: header;
  padding: 0;
  margin: 0;
}
.item2 {
  grid-area: board;
}

.title {
  font-size: 23px;
  margin: 0;
}

.subtitle-rounds {
  font-size: 23px;
  margin: 5px 0px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "board board board board board board"
    "board board board board board board";
  grid-gap: 10px;
  background-color: #d68b7b;
  margin: 0 auto;
  padding: 10px;
}

.grid-container > div {
  background-color: #e2ada2;
  text-align: center;
  padding: 0;
  font-size: 30px;
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
      "header header header header header header"
      "board board board board board board"
      "board board board board board board";
    max-width: 960px;
    margin: 0 auto;
    grid-template-rows: auto 1fr 1fr;
  }
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div,
.container {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
}

.name-button button,
#modal button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#modal .buttons button,
.name-button button {
  display: inline-block;
  margin: 0 10px;
}

#login-name {
  margin: 10px;
}
