.container {
    margin: 0 auto;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    justify-content: center;
    margin: 0 auto;
}

.card {
    background-color: green;
    margin: 15px;
    padding: 20px;

}

@media (min-width: 0) and (max-width: 575px)
{
    .container {
        max-width: 100%;
    }    
}

@media (min-width: 576px) and (max-width: 767px)
{
    .container {
        max-width: 540px;
    }    
}

@media (min-width: 768px) and (max-width: 991px)
{
    .container {
        max-width: 720px;
    }    
}

@media (min-width: 992px) and (max-width: 1199px)
{
    .container {
        max-width: 960px;
    }    
}

@media (min-width: 1200px) and (max-width: 1399px)
{
    .container {
        max-width: 1140px;
    }    
}

@media (min-width: 1400px)
{
    .container {
        max-width: 1320px;
    }    
}
