* {
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  border: 10px solid red;
  background-color: blue;
}

.card {
  background-color: green;
  width: 100px;
  height: 150px;
  margin: 10px;
  font-weight: 700;
  font-size: 30px;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: board;
}
.item3 {
  grid-area: scoreboard;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "board board board board board board"
    "scoreboard scoreboard scoreboard scoreboard scoreboard scoreboard";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
      "header header header header header header"
      "board board board board board board"
      "board board board board scoreboard scoreboard";
    max-width: 960px;
    margin: 0 auto;
  }
}
